* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-size: 16px;
}

header, section, article, aside, nav, footer, main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}
